@import url('./src/styles/header.component.css');
@import url('./src/styles/login.page.css');
@import url('./src/styles/contatos.page.css');
@import url('./src/styles/criar-contato.page.css');
@import url('./src/styles/editar-contato.page.css');
@import url('./src/styles/contato-unico.page.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #22212C;
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}