.form_header{
  display: flex;
}

.form_header i{
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
}

#btn_criarContato{
  width: 100%;
  height: 48px;
  background-color: #6f49b6;
  border-radius: 8px;
  margin: 32px 0 0;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  border: none;
  cursor: pointer;
}

#p-create h1{
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #8657DB;
  align-self: center;
  margin: 0 0 30px;
  width: 1200px;
}

h1 a{
color: white;
margin-left: 100px;
}

#p-create{
  display: block;
  background-color: #302F3D;
  border-radius: 1.6rem;
  padding: 4.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}

.big_box{
width: 45%;
float: left;
margin-right: 4rem;
}

h3{
font-style: normal;
font-weight: bold;
font-size: 2.0rem;
line-height: 16px;
letter-spacing: -0.005em;
color: rgb(214, 211, 211);
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}

.form_idContato,
.form_nome,
.form_email,
.form_apelido,
.form_notas,
.form_fotos,
.form_Trabalho_numero,
.form_Casa_numero,
.form_celular_numero,
.logradouro,
.cidade,
.estado,
.cep,
.pais{
  width: 100%;
  display: flex;
  height: 72px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form_fotos input{
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 08px;
  margin-top: 15px;
  padding: 0px 16px;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: -0.005em;
  color:   rgb(214, 211, 211);
  outline: none;
}

.form_idContato input,
.form_nome input,
.form_email input,
.form_apelido input,
.form_notas input,
.form_Trabalho_numero input,
.form_Casa_numero input,
.form_celular_numero input,
.logradouro input,
.cidade input,
.estado input,
.cep input,
.pais input{
  width: 100%;
  height: 48px;
  background: #3e3c4f;
  border: none;
  border-radius: 20px;
  margin-top: 08px;
  padding: 0px 16px;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: -0.005em;
  color:   rgb(214, 211, 211);
  outline: none;
}

.form_idContato label,
.form_nome label,
.form_email label,
.form_apelido label,
.form_notas label,
.form_fotos label,
.form_Trabalho_numero label,
.form_Casa_numero label,
.form_celular_numero label,
.logradouro label,
.cidade label,
.estado label,
.cep label,
.pais label
{
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: rgb(214, 211, 211);
}


#btn_criarContato:hover{
background-color: #8657DB;
}


@media screen and (max-width: 768px) {
  
  #p-create{
    width: 328px;
    max-width: 500px;
    border-radius: 8px;
    padding-top: 32px;
  }

  #p-create h1{
    font-size: 2.4rem;     
  }
}